h1 {
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form-group input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}